.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.option-card {
  background-color: #fff; /* Default background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Default box-shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition on hover */

  /* Add any other styles you want for unclicked options */
}

.option-card:hover {
  background-color: #f86363; /* Background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box-shadow on hover */

  /* Add any other styles you want for hovered options */
}

.clicked-option {
  background-color: #4CAF50; /* Background color for the clicked option */
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.8); /* Box-shadow for the clicked option */

  /* Add any other styles you want for clicked options */
}
